.features {
  @media screen and(min-width: 768px) {
    flex-wrap: wrap;
  }

  &__item {
    @media screen and(min-width: 768px) {
      flex-basis: 354px;
      margin-left: 30px;
      margin-top: 30px;
    }
    @media screen and(min-width: 1200px) {
      flex-basis: 270px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and(min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    width: 450px;
    height: 120px;
    margin-bottom: 30px;

    @media screen and(min-width: 768px) {
      width: 354px;
    }

    @media screen and(min-width: 1200px) {
      width: 270px;
    }
  }

  &__pic {
    width: 70px;
    height: 70px;
  }
}
