.footer {
  width: 100%;
  height: 252px;

  &__blocks {
    display: flex;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer__link {
  color: var(--footer-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color var(--timing) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--white-color);
  }
}

.footer__nav {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer__social {
  margin-left: 70px;
  margin-top: 72px;
}

.footer__paragraph {
  margin-bottom: 20px;

  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-buttons {
  margin-left: 0;
  margin-right: 0;
}

.footer__subscription {
  margin-left: 93px;
  margin-top: 72px;
}

.subscription-form {
  display: flex;
}

.subscription-form__input {
  padding: 15px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription-form__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
