.header {
  border-bottom: 1px solid var(--header-line);

  &__navigation {
    @media screen and(max-width: 767px) {
      display: none;
    }
  }

  // &__container {
  //   display: flex;
  //   align-items: center;
  // }

  // &__nav-list {
  //   margin-left: 93px;
  // }

  &__address {
    @media screen and(max-width: 767px) {
      display: none;
    }
    // margin-left: auto;
  }
}
