.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: var(--hero-bg-color);
  background-position: center;
  background-size: cover;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 452px;
    padding-right: 452px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
  }
}
