.work {
  &__item {
    @extend %align-item;
    @extend %position-item;
  }
  &__title {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
