h1,
h2,
h3 {
  margin: 0;
  color: var(--secondary-text-color);
}

p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bg-accent {
  background-color: var(--accent-bg-color);
}

.negative-margin {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
