.section {
  // padding-top: 94px;
  // padding-bottom: 94px;

  @media screen and(min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    // margin-bottom: 50px;
    // font-size: 36px;
    // line-height: 1.16;
    text-align: center;

    @media screen and(min-width: 768px) {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.27;
    }
  }

  // &:nth-child(2) {
  //   padding-bottom: 47px;
  // }

  // &:nth-child(3) {
  //   padding-top: 47px;
  // }

  &:nth-child(4) {
    background-color: var(--secondary-bg-color);
  }
}
