.filter {
  display: flex;
  justify-content: center;

  &__item {
    margin-top: 8px;
    margin-left: 8px;
  }

  &__button {
    padding: 6px 22px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--timing) var(--timing-function),
      background-color var(--timing) var(--timing-function),
      box-shadow var(--timing) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-text-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.portfolio__filter {
  margin-bottom: 50px;
  margin-top: -8px;
  margin-left: -8px;
}
