.project {
  flex-wrap: wrap;

  &__name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }

  &__border {
    padding: 20px 24px;
    border: 1px solid var(--project-border);
    border-top: 0;
    box-sizing: border-box;
  }

  &__animation {
    position: relative;
    overflow: hidden;
  }
}

.project__item {
  @extend %align-item;
  @extend %position-item;
  transition: box-shadow var(--timing) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  overflow: auto;

  transform: translateY(100%);
  transition: transform var(--timing) var(--timing-function);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}
